<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Courses Played</title>
</head>

<body>
    <nav class="navbar">
        <h2>Golf Planner</h2>
        <div>
            <a href="/">Home</a>
            |
            <a href="/logout">Logout</a>
        </div>
    </nav>
    <nav class="navbar2">
        <h4>{{user.first_name}}'s Plans </h4>
        <div>
            <a href="/plans">My Plans</a>
            |
            <a href="/profile">My Profile</a>
        </div>

    </nav>

    <div class = "tee_time">
        {% with errors = get_flashed_messages(category_filter=["round_error"]) %}
        {% if errors %}
        <div >
            <ul>
                {%- for msg in errors %}
                <li>{{ msg }}</li>
                {% endfor -%}
            </ul>
        </div>
        {% endif %}
        {% endwith %}

        <h4>Add New Tee Time</h4>
        <form class = "d-flex flex-column w-50 gap-1" action="/rounds/update" method="post">
            <label>Course Name:</label>
            <input type="text" name = 'course_name' value = "{{round.course_name}}">
            <label>Tee Time:</label>
            <input type="datetime-local" name = "tee_time" value = "{{round.tee_time}}">
            <label> Description: </label> 
            <textarea name="description" cols="20" rows="3" value = "{{round.description}}">{{round.description}}</textarea>
            <input type="hidden" name = id value = "{{round.id}}">
            
            <input type='submit' value='Submit'>
        </form>

    </div>
</body>

</html>